new2*
*.npy
Miniforge3-Linux-x86_64.sh

match/
timeline/
timeline_new/
timeline_parquets/
timeline_parquets_chunked/
transformed_data/
raw_data/
parquets/
__pycache__/
checkpoints/
training_graphs/
newplot.png
.vscode/c_cpp_properties.json
